.app {
  display: flex;
  margin: 10%;
  background-color: #f7f7f6;
}
.sidenav{
  display: grid;
  text-align: center;
  align-items: center;
  width: 40vw;
  background-color: #e3e3e3;
}
.average, .reviews, .sentiment {
  display: inline-block;
  width:30%;
  background-color: #e3e3e3;
}
.top {
  display:flex;
  width: 60vw;
  justify-content: space-between;
}
.right {
  margin-left: 20px;
}
h4 {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  padding: 1%;
  font-weight: bolder;
}
.websitevisitors {
  height: 30vh;
  background-color: #e7e7e7;
}
p {
  margin-left: 5px;
}
h2 {
  padding-left: 5px;
  padding-bottom: 60%;
}
.emptybox {
  margin-left: 10%;
  margin-right:10%;
  height: 15vh;
  background-color: #bbbab9;
}